@font-face {
    font-family: ail;
    src: url(../fonts/ailerons.otf);
}
body {
	font-family: ail;
	padding: 0px;
	margin: 0px;
	width: 100%;
	color: #FFF;
	background: #000;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
	-khtml-user-select: none !important;
	-webkit-user-select: none !important;
	-webkit-touch-callout: none !important;
	overflow-y: hidden;
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.welcome {
	position: fixed;
	top: -130px;
	left: 0px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 100%;
	height: 100%;
	font-family: 'Droid Sans', sans-serif;
	font-size: 0.9em;
	font-weight: 400;
	color: #FFF;
	animation-name: flash;
	animation-duration: 2s;
	animation-iteration-count: 20;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
}
.welcome img {
	margin: 20px auto;
	max-width: 25px;
}
.sky {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 9000px;
	background: rgba(64,167,165,1);
	background: -moz-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,167,165,1)), color-stop(100%, rgba(171,209,173,1)));
	background: -webkit-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: -o-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: -ms-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: linear-gradient(to bottom, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a7a5', endColorstr='#abd1ad', GradientType=0 );
	z-index: 0 !important;
}
.stars {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background: rgba(9,28,43,1);
	background: -moz-linear-gradient(top, rgba(9,28,43,1) 9%, rgba(9,29,45,1) 12%, rgba(17,53,92,0) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(9%, rgba(9,28,43,1)), color-stop(12%, rgba(9,29,45,1)), color-stop(100%, rgba(17,53,92,0)));
	background: -webkit-linear-gradient(top, rgba(9,28,43,1) 9%, rgba(9,29,45,1) 12%, rgba(17,53,92,0) 100%);
	background: -o-linear-gradient(top, rgba(9,28,43,1) 9%, rgba(9,29,45,1) 12%, rgba(17,53,92,0) 100%);
	background: -ms-linear-gradient(top, rgba(9,28,43,1) 9%, rgba(9,29,45,1) 12%, rgba(17,53,92,0) 100%);
	background: linear-gradient(to bottom, rgba(9,28,43,1) 9%, rgba(9,29,45,1) 12%, rgba(17,53,92,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#091c2b', endColorstr='#11355c', GradientType=0 );
	z-index: 1 !important;
}
.belt {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	background: rgba(14,8,38,1);
	background: -moz-linear-gradient(45deg, rgba(14,8,38,1) 0%, rgba(3,9,43,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(14,8,38,1)), color-stop(100%, rgba(3,9,43,1)));
	background: -webkit-linear-gradient(45deg, rgba(14,8,38,1) 0%, rgba(3,9,43,1) 100%);
	background: -o-linear-gradient(45deg, rgba(14,8,38,1) 0%, rgba(3,9,43,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(14,8,38,1) 0%, rgba(3,9,43,1) 100%);
	background: linear-gradient(45deg, rgba(14,8,38,1) 0%, rgba(3,9,43,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e0826', endColorstr='#03092b', GradientType=1 );
	z-index: 0 !important;
}
#introtext {
	position: absolute;
	top: 405px;
	margin: 0 auto;
	width: 100%;
	max-width: 100%;
	text-align: center;
	font-size: 8em;
	color: #FFF;
	letter-spacing: 40px;
	height: 100vh;
	z-index: 9999 !important;
	opacity: 0.8;
}
#infobox {
	font-family: 'Droid Sans', sans-serif;
	position: fixed;
	-webkit-font-smoothing: antialiased !important;
	width: 50%;
	color: #DDD;
	bottom: -200px;
	right: 50px;
	font-size: 0.85em;
	letter-spacing: 1.5px;
	font-weight: 400;
	line-height: 1.4;
	text-align: left;
	text-transform: uppercase;
	z-index: 9199 !important;
	padding: 10px;

}
.para{
	margin: 10px auto;
	max-width: 96%;
	padding: 20px
}
#linetop {
	height: 2px;
	width: 100%;
	border: 0 !important;
	margin: 0 auto;
	border-radius: 1px;
	background: rgba(64,167,165,1);
	background: -moz-linear-gradient(left, rgba(64,167,165,1) 0%, rgba(167,207,173,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(64,167,165,1)), color-stop(100%, rgba(167,207,173,1)));
	background: -webkit-linear-gradient(left, rgba(64,167,165,1) 0%, rgba(167,207,173,1) 100%);
	background: -o-linear-gradient(left, rgba(64,167,165,1) 0%, rgba(167,207,173,1) 100%);
	background: -ms-linear-gradient(left, rgba(64,167,165,1) 0%, rgba(167,207,173,1) 100%);
	background: linear-gradient(to right, rgba(64,167,165,1) 0%, rgba(167,207,173,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a7a5', endColorstr='#a7cfad', GradientType=1 );
}
.flip {
	transform: rotate(180deg);
}
@-webkit-keyframes flash {
  0%   { opacity: 0.3; letter-spacing: 1.7; }
  60% { opacity: 1; letter-spacing: 1; }
  100% {opacity: 0.3; letter-spacing: 1.7;}
}
@-moz-keyframes flash {
  0%   { opacity: 0.3; letter-spacing: 1.7; }
  60% { opacity: 1; letter-spacing: 1; }
  100% {opacity: 0.3; letter-spacing: 1.7;}
}
@-o-keyframes flash {
  0%   { opacity: 0.3; letter-spacing: 1.7; }
  60% { opacity: 1; letter-spacing: 1; }
  100% {opacity: 0.3; letter-spacing: 1.7;}
}
@keyframes flash {
  0%   { opacity: 0.3; letter-spacing: 1.7; }
  60% { opacity: 1; letter-spacing: 1; }
  100% {opacity: 0.3; letter-spacing: 1.7;}
}
#scene1 { width: 100%; height: 19500px; overflow: hidden !important; }
#fling-it, #move-it, #fling-it-right { position: fixed; top: 0px; left: 0px; z-index: 9999 !important;}
section {
	position:absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	height: 19500px;
	z-index: 1 !important;
}
.backg {
	position: fixed;
	bottom: -210px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: 2 !important;
}
.backg img {
	max-width: 100%;
}
.midground {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: 3 !important;
}
.midground img {
	max-width: 100%;
}
.foreground {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	max-width: 100%;
	height: 100%;
	z-index: 999 !important;
}
.foreground img {
	max-width: 100%;
}
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #fdfdfd;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #50efab;
}
::-webkit-scrollbar-track {
  background: #909090;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #959595;
}
::-webkit-scrollbar-track:active {
  background: #FFF;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.loading {
  min-width:100%;
  min-height:100%;
  height:100%;
  overflow-y: hidden !important;
  top:0;
  left:0;
  background: #ededed;
  position:fixed;
  z-index:9999 !important;
  	background: rgba(64,167,165,1);
	background: -moz-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,167,165,1)), color-stop(100%, rgba(171,209,173,1)));
	background: -webkit-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: -o-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: -ms-linear-gradient(top, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	background: linear-gradient(to bottom, rgba(64,167,165,1) 0%, rgba(171,209,173,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40a7a5', endColorstr='#abd1ad', GradientType=0 );
}
.spinner-text {position:fixed;top:41.5%;left:45%;margin:16px 0 0 35px;font-size:15px;font-family: 'Droid Sans', sans-serif;color:#EEE;letter-spacing:3.5px;font-weight:400}
.spinner {
  margin:0;
  display:block;
  position:fixed;
  left:35%;
  top:38%;
  -webkit-animation:spin 2.5s infinite;
  -moz-animation:spin 2.5s infinite;
  animation:spin 2.5s infinite;
}

@-webkit-keyframes spin {
  0%,100% {-webkit-transform:rotate(0deg) scale(1)}
  50%     {-webkit-transform:rotate(720deg) scale(0.8)}
}

@-moz-keyframes spin  {
  0%,100% {-moz-transform:rotate(0deg) scale(1)}
  50%     {-moz-transform:rotate(720deg) scale(0.8)}
}
@-o-keyframes spin  {
  0%,100% {-o-transform:rotate(0deg) scale(1)}
  50%     {-o-transform:rotate(720deg) scale(0.8)}
}
@keyframes spin  {
  0%,100% {transform:rotate(0deg) scale(1)}
  50%     {transform:rotate(720deg) scale(0.8)}
}



@media only screen and (max-width: 952px) {
    .all {
        opacity: 0 !important;
		display: none !important;
    }
}